<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="3">
      Bluetooth:
    </ion-col>
    <ion-col>
      {{btState}}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3">
      Stato:
    </ion-col>
    <ion-col>
      {{btConnected}}
    </ion-col>
  </ion-row>

  <br>

  <ion-row>
    <ion-col>
      <ion-fab-button color="transparent" size="small" (click)="presentModal()">
        <ion-icon name="bluetooth-outline"></ion-icon>
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button class="float-right"color="transparent" size="small" (click)="btDisconnect()">
        <ion-icon name="close-outline"></ion-icon>      
      </ion-fab-button>
    </ion-col>
  </ion-row>

 

  <div id="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <ion-range [(disabled)]=!btConnectedBool [(value)]=speed min="0" max="255" step="1" color="dark" (ionChange)="setSpeed($event.detail.value)"></ion-range>
    
    <br>
    <br>
    <ion-row class="float-right">
      <ion-button color="dark" size="large" (touchstart)="left(true)" (touchend)="left(false)" >
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>     
       <ion-button color="dark" size="large" (touchstart)="right(true)" (touchend)="right(false)" >
        <ion-icon name="caret-forward-outline"></ion-icon>
      </ion-button>
    </ion-row>

    <ion-row>
      <ion-button color="dark" size="large" (touchstart)="forward(true)" (touchend)="forward(false)" >
        <ion-icon name="caret-up-outline"></ion-icon>
      </ion-button>
    </ion-row>
    <ion-row>
      <ion-button color="dark" size="large" (touchstart)="back(true)" (touchend)="back(false)" >
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-button>
    </ion-row>
    
    
  </div>
</ion-content>